/**
 * @name Fallout NV Terminal
 * @author Bates#7075
 * @version 1.0.0
 * @source https://github.com/viko532/Fallout4TerminalTheme
 * @website https://commandcrafterhd.github.io/Fallout4TerminalTheme
 * @donate https://www.paypal.com/paypalme/floriancegledi
 * @patreon https://patreon.com/bates
 * @description A theme inspired by Fallout 4's terminals! Edited by viko532
 * @authorId 
 * @invite 
*/

@import url('https://viko532.github.io/Fallout4TerminalTheme/css/main.css');
/* ^ THIS IS THE MAIN IMPORT. DO NOT TOUCH THIS OR THE THEME WILL BREAK. ^ */

/* @import url('https://commandcrafterhd.github.io/Fallout4TerminalTheme/css/disableCRT.css'); */
/* ^ UNCOMMENT THIS IMPORT IF YOU WANT TO REMOVE THE CRT EFFECT ^ */

/* TO CUSTOMIZE THE THEME, UNCOMMENT THE LINES BELOW AND REPLACE THE VARIABLES */

/* REMOVE THIS LINE TO UNCOMMENT

:root {
  --background: #000700 !important;
  --text-color: #4AEF98 !important;
  --highlight: var(--text-color) !important;
}

   REMOVE THIS LINE TO UNCOMMENT ASWELL */
